:root {
  --bg: #fffaef;
  --bg-light: #fffffe;
  --fg: #545454;
  --fg-lowish-contrast: #54545499;
  --fg-low-contrast: #54545444;
  --fg-high-contrast: #2f2f2f;
  --logo-bg: #fffaef;
  --logo-green: #6d6d1e;
  --logo-green-softest: #b8b37b;
  --logo-green-semisoft: #a39f68;
  --logo-green-soft: #c5c29b;
  --logo-text: #545454;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --fg: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  background-color: var(--logo-bg);
}

html {
  font-family: var(--font-family-geist-sans);
}

body {
  color: var(--fg);
  background-color: var(--logo-green);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  max-width: 75ch;
}

:is(h1, h2, h3, h4, p):not(:first-child) {
  margin-top: 0.75em;
}

:is(h4 + p):not(:first-child) {
  margin-top: 0;
}

h1,
h2,
h3,
blockquote {
  font-family: var(--font-family-belleza);
  font-weight: var(--font-weight-belleza);
}

h4 {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 1px 0 0 var(--fg-low-contrast);
  transition: 0.3s ease;
  color: var(--fg-high-contrast);
}

button {
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    box-shadow: 0 6px 0 -4px var(--fg);
  }
}

ul,
ol {
  padding-inline-start: 1.25em;
}

:focus-visible {
  outline: 2px solid var(--fg-low-contrast);
  border-radius: 1px;
  outline-offset: 2px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .logo {
    filter: invert();
  }
} */

hr {
  margin: 2em 0;
  border: none;
  height: 1px;
  background-color: var(--fg-low-contrast);
}

blockquote {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.5em;
}

blockquote::before,
blockquote::after {
  font-size: 5em;
  line-height: 1em;
  position: absolute;
  opacity: 0.25;
}

blockquote::before {
  content: '“';
  top: -1.5rem;
  left: -1.5rem;
}

blockquote::after {
  content: '”';
  bottom: -3.5rem;
  right: -1.5rem;
}

.attr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attr::before,
.attr::after {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 1px;
  margin: 0 0.25em;
  background-color: #333;
}

.brittney {
  font-family: var(--font-family-brittney-signature);
  font-size: 2em;
  line-height: 1.4em;
}

.visually-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  font-size: 1px;
  position: absolute;
}

/**
 * General/Util Layout
 */

.split-layout {
  display: flex;
  gap: 2em;
}

.split-layout > * {
  flex-grow: 1;
  min-width: 33%;
}

@media (max-width: 600px) {
  .split-layout {
    flex-direction: column;
  }
}

/**
 * Forms
 */
.form,
fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 24ch;
}

p + .form {
  margin-top: 1em;
}

.form hr {
  margin: 1em 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25em;
}

fieldset {
  border: none;
  padding-block-start: 1em;
}

input,
select,
textarea,
button,
.radio-rating label {
  appearance: none;
  border: 1px solid var(--fg-lowish-contrast);
  color: var(--fg);
  background-color: var(--bg-light);
  font: inherit;
  padding: 0.25ch 0.5ch;
  box-shadow: 4px 4px 0 0 var(--fg-low-contrast);
  border-radius: 0.25em;
  width: 100%;
  max-width: 40ch;
  transition: 0.3s ease;
}

input::-webkit-inner-spin-button {
  display: none;
}

button {
  color: var(--bg);
  background-color: var(--fg);
  border: 1px solid var(--fg);
  padding: 0.5ch 1ch;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: var(--fg-high-contrast);
  }
}

button[type='submit'] {
  padding-block: 0.5em;
}

select {
  background: url(/select-down-arrow.svg) calc(100% - 0.25em) center no-repeat;
  background-color: var(--bg-light);
  background-size: auto 66%;
}

.radio-rating fieldset {
  display: flex;
  flex-direction: row;
}

.radio-rating input {
  display: none;
}

.radio-rating label {
  padding: 0.5ch 1ch;
  text-align: center;
}

.radio-rating label:has(input:checked) {
  color: var(--bg);
  background-color: var(--fg);
}
