.page {
  min-height: 100svh;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  border-top: 1em solid var(--logo-green);
  border-bottom: 1em solid var(--logo-green);
  background: var(--bg);
}

.main {
  padding-inline: 2em;
  padding-block: 5dvh;
  flex-grow: 1;
}

/* Per-page floral graphics */
:global(.contact) .main {
  background-image: url('/flowers.svg');
  background-repeat: no-repeat;
  background-position: 95% 2em;
  background-size: 60%;
}

:global(.services) .main {
  background-image: url('/leaves.svg');
  background-repeat: no-repeat;
  background-position: 95% 2em;
  background-size: 25vh;
}

:global(.about) .main {
  background-image: url('/laurels.svg');
  background-repeat: no-repeat;
  background-position: 50% calc(100% - 2em);
  background-size: 50vh;
}

:global(.menu) .main {
  background-image: url('/flowers-corner.svg');
  background-repeat: no-repeat;
  background-position: 95% calc(100% - 2em);
  background-size: 30vh;
}
