.menuPricing {
  border-top: 1px solid lch(50 0 0 / 20%);
  padding-top: 1em;
  margin-top: 2em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 50ch;
}

.menuItem {
  display: flex;
  gap: 1em;
}

.description {
  flex-grow: 1;
}

.menuItem .data {
  display: flex;
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
  margin-bottom: 0.25em;
}

.qty {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-basis: 0;
}

.qtyInput {
  width: 100%;
  appearance: none;
  text-align: center;
}

.qtyButtons {
  display: flex;
  font-size: 0.75em;
  gap: 0.5em;
}
